<div class="header">
    <h1>
        BLOG
    </h1>
    <i class="fab fa-github-square"></i>
    &nbsp;
    <i class="fab fa-facebook-square"></i>
    &nbsp;
    <i class="fas fa-envelope"></i>
</div>