<html lang="en">

<head>
    <% include ../layouts/head %>
</head>

<body class="container">
    <% include ../layouts/header%>
        <div class="main-content">
            <div class="main">
                <div class="load">
                </div>
                <button id="load">Load more</button>
            </div>
            <% include ../layouts/sidebar %>
        </div>
        <% include ../layouts/footer %>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="/js/javascript.js"></script>
</body>

</html>